/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 400px;
    height: 500px;
    margin: auto;
    overflow: hidden;
    border-radius: 0.7rem;
}

.header {
    background-color: #00003F;
    height: 10%;
    display: flex;
}

.light .header {
    background-color: #FFEFEF
}

.mode {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sun {
    color: white;
    margin: auto 15px;
}

.light .sun{
    color: black;
}

.tab {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.filter {
    color: #EDA900;
    margin: auto 15px;
    font-weight: 600;
    text-decoration: none;
}

.light .filter {
    color: #DB8383;
}

.active {
    text-decoration: underline;
    font-weight: 800;
}

.main {
    background-color: #00003F;
    height: 80%;
    padding: 10px 5px;
    justify-content: space-between;
    border: solid #B4B4B4;
    border-width: 1px 0px;
    box-sizing: border-box;
}

.light .main {
    background-color: #FFFCFC;
}

.listWrap {
    padding: 10px 0px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: flex;
    /* align-items: center; */
}

.light .listWrap {
    color: black;
}

.listWrap > input {
    flex-grow: 0.8;
}

.listWrap > span {
    flex-grow: 8;
}

.listWrap > svg {
    flex-grow: 1;
}

.footer {
    background-color: #00003F;
    height: 10%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.light .footer {
    background-color: #FFEFEF;
}

.addWrap {
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}

.addWrap > * {
    height: 30px;
    padding: 0px 10px;
}

.addWrap > input {
    flex-grow: 3;
    background-color: white;
    border: 0px;
}

.addWrap > button {
    flex-grow: 1;
    background-color: #EDA900;
    color: white;
    border: 0px;
}

.light .addWrap > button {
    background-color: #DB8383;
}